nav {
    display:flex;
    align-items:center;
    justify-content: flex-start;
    background: #033400; 
    padding: 25px 40px;
}

#links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#links li {
    list-style: none;
    padding: 0 25px;
    postion: relative;
}

#links li a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
}

#links li a:hover {
    text-decoration: underline;
}

#logo {
    width: 100px;
    height: auto;
}