nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none; /* Consider a more contrasting color if needed */
    padding: 25px 55px;
    z-index: 1000; /* Ensure navbar stays on top */
    width: 100%; /* Ensure full width */
    position: fixed; /* Or 'absolute', depending on layout */
    top: 0;
}


#links a {
    text-decoration: none;
    color: #fff;
    padding: 0px 20px;
}

#logo img {
    width: 100px; /* Adjust the width of the logo as needed */
    height: auto;
}
